:host {
  .search-bar {
    display: flex;
    width: 40rem;
    height: 3rem;
    border: 1px solid #000000;
    border-radius: 30px;
    text-indent: 2rem;
    color: #8d8d8d;
    font-family: OpenSans;
    font-size: 16px;
  }
}
