

<!-- <div class="container">
  <h2 class="results">{{ results["numberImages"] }} "{{ results["search"] }}" images found</h2>
  <div class="images">

    <div class="column" *ngFor="let column of [].constructor(columns); let i = index"></div>

  </div>
</div> -->


<div class="content">
  <div class="container">
    <div class="info">
      <h2 class="">{{ username }}</h2>
      <p class=""> {{ biography }} </p>
    </div>
    <div class="images">

      <div class="column" *ngFor="let column of [].constructor(columns); let i = index"></div>

    </div>
  </div>
</div>
