:host {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    gap: 2rem;
    h1 {
      font-family: InknutAntiquaExtraBold;
    }
  }
}
